<h5 class="text-center font-weight-bold">Media or App</h5>
<div class="row mt-3">
    <div class="col-4 text-center">
        <p>Web</p>
        <span class="textBlue">35,1%</span>
    </div>
  
    <div class="col-8 text-center">
        <p >App</p>
        <span class="textBlack">64,9%</span>
    </div>
</div>

<div class="progress">
    <div class="progress-bar blue" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar black" role="progressbar" style="width: 65%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
