
<!-- The Modal -->

<div *ngIf="this.modalService.getLogin()" id="myModal" class="modal2">
  <div class="container contenido">
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="row">
        
     
        <div class="col-12 text-center mt-3">
         
          <input type="email" 
                class="redondear" 
                ngModel
                placeholder="email"
                email="true"
                name="email"
                required>
      
        </div>
        <div class="col-12 mt-2 text-center">
          
          <input type="password" 
                class="redondear"
                placeholder="password"
                ngModel
                name="password"
                required>
        </div>

        
        <div class="col-6 mt-2 text-left">
            <label class="remenber">
              <input class="mr-2" 
                      type="checkbox"
                      ngModel
                      [checked]=true
                      name="remenber"
                      id="rememberMe">
              Remenber me
            </label>
        </div>
      
        <div class="col-6 text-right mt-2">
            <span class="remember"> <a class="remenber" href="#">Forgot password?</a></span>
        </div>
        
      
        <div class="col-12 mt-2 text-center">
            <button type="submit" 
                    [disabled]="f.invalid"
                    class="btn btn-lg login">LOGIN</button>
        </div>
     

      </div>
    </form>
  </div>
</div>

