<app-navbar-dashboard></app-navbar-dashboard>
<div class="row w-100">
    <div class="col-1 full text-center">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-11 mt-2">
        <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <h4 class="ml-2 text-center">Create User</h4>
        <div class="text-center mt-5">
            <input type="text"
            class="borders textColor"
            ngModel
            placeholder="Username"
            name="username"
            required>
        </div>
        <div class="text-center mt-3">
            <input type="text"
            class="borders textColor"
            ngModel
            placeholder="Email"
            name="email"
            required>
        </div>
        <div class="text-center mt-3">
            <input type="password"
            ngModel
            class="borders textColor"
            placeholder="Password"
            name="password"
            required>
        </div>
        <div class="text-center mt-3">
            <input type="password"
            ngModel
            class="borders textColor"
            placeholder="Confirm Password"
            name="password2"
            required>
        </div>
        <div class="col-12 mt-5 text-center">
            <button type="submit" 
            class="btn btn-lg borders">+Add User</button>
        </div>
    </form>
    <app-footer></app-footer>
    </div>
   
</div>

