<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']"><img src="../../../../assets/images/icon_emotiony.png" class="dimIcon"></a>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">+ Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">User Preferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Settings</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        
        <button type="button" class="btn btn-dark" aria-label="Left Align">
            <span class="fa fa-trash-o fa-lg" aria-hidden="true"><i class="fa fa-search"></i></span>
    </button>
    </div>
    <div class="mx-auto tam50 order-1">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       
    </div>


    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <img src="../../../../assets/images/star-wars-battlefront-stormtrooper-clone-trooper-playstation-4-stormtrooper.png" class="dimIcon2">
            </li>
            <li class="nav-item">
               <h5 class="greyColor mr-1 ml-2">Paco José Pérez</h5>
            </li>
        </ul>
    </div>
</nav>
