<div class="row">
    <div class="col-4">
        <p class="tamany1">www.Zara.com</p>
        <p class="tamany2">#Shoes&Bags</p>
    </div>
    <div class="col-2 mt-2">
        <input type="number" placeholder="Data" class="w-75" #input (keyup)="findData(input.value)">
    </div>
    <div class="col-2 mt-2">
        <input type="text" placeholder="Project" class="w-75">
    </div>
    <div class="col-2 mt-2">
        <input type="text" placeholder="Product" class="w-75">
    </div>
    <div class="col-2 mt-2">
        <button type="button" class="btn btn-sm btn-secondary width100">Apply</button>
    </div>
</div>
