<app-navbar-dashboard></app-navbar-dashboard>

<div class="row">
  <div class="col-1 full text-center">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-6">
        <app-chart></app-chart>
      </div>
      <div class="col-6">
        <app-chart></app-chart>
      </div>
      <div class="col-6 mt-5">
        <app-stacked></app-stacked>
      </div>
      <div class="col-6 mt-5">
        <app-stacked></app-stacked>
      </div>
    </div>
  </div>
</div>
