<!-- <app-navbar></app-navbar> -->
<app-navbar-dashboard></app-navbar-dashboard>

<div class="row w-100">
  <div class="col-1 full text-center">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-12">
        <app-filters></app-filters>
      </div>
      <div class="col-5">
        <app-chart></app-chart>
      </div>
      <div class="col-5">
        <app-chart></app-chart>
      </div>
      <div class="col-1">
        <app-barchart></app-barchart>
      </div>
      <div class="col-6 mt-4">
        <app-stacked></app-stacked>
      </div>
      <div class="col-6 mt-4">
        <app-stacked></app-stacked>
      </div>
      <div class="col-9 mt-4">
        <app-area-basic></app-area-basic>
        <app-area-negative></app-area-negative>
        <div class="row">
          <div class="col-6">
             <app-heatmap></app-heatmap>
          </div>
          <div class="col-6">
            <app-pareto></app-pareto>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="margin-top20">
        <app-analytics class="col-12 mt-5"></app-analytics>
        </div>
        <div class="margin-top40">
        <app-map class="col-12"></app-map>
        </div>
        <div class="margin-top40">
          <app-languages class="col-12"></app-languages>
        </div>
        <div class="margin-top40">
         <app-semi-circle class="col-12"></app-semi-circle>
        </div>
      </div>
    </div>
  </div>
</div>
