<!-- Trigger/Open The Modal -->
<button (click)="verModal()">Open Modal</button>

<!-- The Modal -->
<div *ngIf="verLogin" id="myModal" class="modal2 mt-3">
  <div class="contenido">

      <div class="row">
        <div class="col-12 text-center mt-3">
          <input class="redondear" name="user" />
        </div>

        <div class="col-12 mt-2 text-center">
          <input class="redondear" name="password" />
        </div>

        <div class="col-6 mt-2 text-left">
            <label class="remenber"><input class="mr-2" type="checkbox" value="lsRememberMe" id="rememberMe">Remenber me</label>
        </div>

        <div class="col-6 text-right mt-2">
            <span class="remember"> <a class="remenber" href="#">Forgot password?</a></span>
        </div>

        <div class="col-12 mt-2 text-center">
            <button type="button" class="btn btn-lg remenber">Login</button>
        </div>

      </div>
  </div>
</div>
