<div class="container">
    <div class="row">
        <div class="col-7 text-right">
            <app-header-emotiony></app-header-emotiony>
        </div>
        <div class="col-5 text-right">
            <app-navbar></app-navbar>
            <div class="positionRelative text-center mx-auto">
                <app-login></app-login>
                <app-contact></app-contact>
           </div> 
        </div>

    </div>
</div>


<!--<app-planet></app-planet>-->
<app-game url="http://inspirat.ddns.net/webgl/webgl273/"></app-game>
<app-footer-download></app-footer-download> 

