.full{
    height: 100%vh;
    background-color:rgb(143,199,110);
    border-right: 1px solid rgb(111, 141, 91);
    border-bottom: 1px solid rgb(111, 141, 91);
}

.mt-10{
    margin-top: 120px;
}

.width75{
    width: 75px;
}

.minwidth{
    min-width: 900px;
}

@media (max-width: 900px){
    .mediaCenter{
        text-align: center;
    }
}