<!-- <app-navbar-dashboard></app-navbar-dashboard>
<div class="row w-100">
    <div class="col full text-center width50">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-11">
    <div class="row w-100">
        <div class="col-12">
        <app-create-tag></app-create-tag>
        <div class="col-12 mt-10">
            <app-list-tags></app-list-tags>
        </div>
    </div>
    </div>
    <div>
        <app-right-sidebar></app-right-sidebar>
    </div>
    <div class="mt-5">
        <app-footer></app-footer>
    </div>
</div> -->

<app-navbar-dashboard></app-navbar-dashboard>
<div class="row minwidth">
  <div class="full text-center width75 mt-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-11 mediaCenter">
    <div class="row w-100">
      <div class="col-12 ml-0 w-auto">
        <app-create-tag></app-create-tag>
      </div>
      <div class="col-12 mt-10">
        <app-list-tags></app-list-tags>
      </div>
      <div *ngIf="rightSidebarService.isVisible()">
        <app-right-sidebar></app-right-sidebar>
      </div>
      <div class="col-12 mt-5">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
