.porcentaje{
    width: 50%;
}


@media (max-width: 766px) and (min-width: 500px){
    .porcentaje{
        width: 50%;
    }

  }

  @media (max-width: 500px) and (min-width: 285px){
    .porcentaje{
        width: 65%;
    }
  }

  @media (max-width: 285px){
    .porcentaje{
        width: 85%;
    }
  }