
<div class="container mt-3">
<div class="row d-inline-flex justify-content-center text-center">
    <div class="col-2">
            <img src="../../../assets/images/web-elements17.png" class="img-fluid mx-auto dim10" alt="logo_emotiony">
    </div>
    <div class="col-2">
             <img src="../../../assets/images/web-elements20.png" class="img-fluid mx-auto dim5" alt="logo_emotiony">
            <img src="../../../assets/images/web-elements21.png" class="img-fluid mx-auto dim5" alt="logo_emotiony">
    </div>
</div>
</div>
