.tag{
    font-size: 0.8em;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.borderDark {
    border:1px solid black;
    padding: 2.8px;
}



@media (max-width: 900px){
    .top10Add{
        margin-top: 10px;
    }
}

@media (max-width: 600px){
    .top10{
        margin-top: 10px;
    }
    .left50{
        margin-left: 50px;
    }
}