
<nav class="navbar navbar-expand-sm gothic navbar-dark text-right">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <h4 class="nav-link" [ngClass]="this.modalService.getAbout() ? 'active' : ''" (click)="activar('about')">ABOUT</h4>
        </li>
        <li class="nav-item ml-2">
            <h4 class="nav-link" [ngClass]="this.modalService.getLogin() ? 'active' : ''" (click)="activar('login')">LOGIN</h4>
        </li>
        <li class="nav-item ml-2">
            <h4 class="nav-link" [ngClass]="this.modalService.getContact() ? 'active' : ''" (click)="activar('contact')">CONTACT</h4>
        </li>
    </ul>
</nav>